.ui-accordion-header {
  padding: 8px;
  background: #f8efba;
  border-radius: 4px 4px 0 0;
}

.ui-accordion-header-collapsed {
  margin: 6px 0;
  border-radius: 4px;
  cursor: pointer;
}

.ui-accordion-content {
  padding: 10px 6px;
  border: 1px solid #f8efba;
}

.profile-accordian h2 {
  padding-bottom: 6px;
  border-bottom: 1px solid #f8efba;
  margin-bottom: 6px;
}