@font-face {
    font-family: OpenSans-Light;
    src: url(../../assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../../assets/fonts/OpenSans-ExtraBold.ttf);
}